<!-- Render the Book Cover with Titles -->

<style>

    .cover-image {
        width: 800px;
        height: 1280px
    }

    .title-overlay {
        position: absolute;
        display: block;
        top: 700px;
        left: 0px;
        width: 600px;
        height: 200px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 3em;
    }

    .title-overlay h1 {
        color: black;
        font: 380% Arial;
        text-shadow: 2px 2px 5px gray;
    }

    .title-overlay h2 {
        color: black;
        font: 200% Arial;
        text-shadow: 2px 2px 5px gray;
    }

    .title-overlay h3 {
        position: absolute;
        top: 660px;
        left: 300px;
        color: #ddd;
        font: 200% Arial;
        text-shadow: 2px 2px 5px black;
    }

</style>

<div class="cover-image">

    <div class="title-overlay">

        {% if cover_title %}
            <h1>{{ site_title }}</h1>
            <h2>{{ site_subtitle }}</h2>
            <h3>by {{ author }}</h3>
        {% endif %}

    </div>

    <img src="/static/images/CoverArtwork/blog.jpg">
</div>



