<!-- Render the Book Cover with Titles -->

<style>
    .cover-image {
        width: 800px;
        height: 1280px
    }

    .title-overlay {
        position: absolute;
        display: block;
        top: 600px;
        left: 0px;
        width: 600px;
        height: 200px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2em;
    }

    .title-overlay h1 {
        color: white;
        font: 340% Arial;
        text-shadow: 2px 2px 5px gray;
    }

    .title-overlay h2 {
        color: white;
        font: 200% Arial;
    }

    .title-overlay h3 {
        position: absolute;
        top: 200px;
        left: 300px;
        color: white;
        font: 200% Arial;
        text-shadow: 2px 2px 5px black;
    }


    .title-overlay img {
        position: absolute;
        top: -520px;
        left: 500px;
        color: white;
        text-shadow: 2px 2px 5px black;
        border-radius: 70px;
    }
</style>


<div class="cover-image">

    <div class="title-overlay">

        <img src="/static/images/MarkSeaman/Mark-Seaman-400.jpg">

        {% if cover_title %}
        <h1>{{ site_title }}</h1><br>
        <h2>{{ site_subtitle }}</h2>
        {% endif %}

    </div>

    <img src="/static/images/CoverArtwork/mark.jpg">
</div>