<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light">

    <div class="container">

        <a class="navbar-brand text-light" href="{% url 'blog' 'spiritual-things.org' %}">
            Spiritual Things
        </a>

        <ul class="navbar-nav text-light ml-auto">

            <li class="nav-item">
                <a class="nav-link text-light" href="today">
                    Daily Meditations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="Index.md">
                    Learn More
                </a>
            </li>

        </ul>

    </div>

{#    {% if blog %}#}
{#        <a href="{{ blog }}" class="btn btn-success">{{ blog }}</a>#}
{#    {% endif %}#}
{##}
{#    {% if notebook %}#}
{#        <a href="{{ notebook }}" class="btn btn-success">{{ notebook }}</a>#}
{#    {% endif %}#}

</nav>
