<header class="p-1 p-lg-3">

    {% if logo %}

        <div class="row media">

            <div class="col-lg media-body">

                {% autoescape off %}
                    <h1 class="ml-1 ml-lg-5 p-lg-3">
                        <a href="{{ site_url }}">{{ site_title }}</a>
                    </h1>
                    <h2 class="ml-1 ml-lg-5 p-lg-3">{{ site_subtitle }}</h2>
                {% endautoescape %}

            </div>
            <div class="col-lg-3 d-none d-lg-block">
                <img class="rounded-circle image-fluid" src="{{ logo }}" alt="Logo" width="150">
            </div>
        </div>

    {% else %}

        <h1 class="ml-1 ml-lg-5">
            <a href="{{ site_url }}">{{ site_title }}</a>
        </h1>
        <h2 class="ml-1 ml-lg-5">{{ site_subtitle }}</h2>

    {% endif %}

</header>

