<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light d-none d-lg-block">

    <div class="container">

        <a class="navbar-brand text-light" href="{{ menu.title.1 }}">{{ menu.title.0 }}</a>

        <ul class="navbar-nav text-light ml-auto">

            {% for m in menu.items %}
                <li class="nav-item">

                    <a class="nav-link text-light" href="{{ m.1 }}">{{ m.0 }}</a>

                </li>
            {% endfor %}

        </ul>

    </div>

</nav>
