{% extends 'theme.html' %}



{% block content %}

    <div class="bg-light text-dark">
        <h1>Email Signature</h1>

        <p>TO: you@there.us</p>
        <p>FROM: me@here.us</p>
        <p>I very much like this new logo. What do you think?</p>
        <p>- Mark</p>
        <br>
        <br>
        <img src="/static/images/MarkSeaman/BusCard_.png.978.png">


        <hr>
        <img src="https://shrinking-world.com/static/images/MarkSeaman/SWS-Logo-200.png" style="float:left;margin-right:1em" width="180">
        <img src="https://shrinking-world.com/static/images/MarkSeaman/Mark-Seaman-200.jpg" style="float:right;margin:2em;border-radius: 30px" width="100">
        <br>
        <b>Mark Seaman</b><br>
        Writer, Teacher, Software Developer<br>
        mark.seaman@shrinking-world.com<br>
        http://shrinking-world.com<br>
        970-481-6240
        <br><br><hr>

        <br><br><br>

        {#        {% for photo in photos %}#}
        {#            <div class="card col-4 p-1">#}
        {##}
        {#                <div class="row">#}
        {##}
        {#                    <style>#}
        {#                        p {#}
        {#                            margin: 0px;#}
        {#                        }#}
        {##}
        {#                    </style>#}
        {#                    <div class="col-lg-4">#}
        {#                        <img class="photo" src="/{{ photo.file }}" alt="Chapter {{ photo.id }}" width="150">#}
        {#                    </div>#}
        {#                    <div class="col">#}
        {#                        <p class="pt-3"><b>Mark Seaman</b></p>#}
        {#                        <p>Writer, Teacher, Developer</p>#}
        {#                        <p>mark.seaman@shrinking-world.com</p>#}
        {#                        <p>970-481-6240</p>#}
        {##}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {##}
        {#            </div>#}
        {##}
        {#        {% endfor %}#}
    </div>

    <div class="row bg-light text-dark">

        <h1>Logos on a Light Background</h1>
        {% for photo in photos %}

            <div class="col-3">

                <a href="/photo/{{ photo.id }}">
                    <img class="photo" src="/{{ photo.file }}" alt="Chapter {{ photo.id }}" width="200">
                </a>
                <p>{{ photo.name }}</p>
            </div>

        {% endfor %}
    </div>
    <div class="row bg-dark text-light">
        <h1>Logos on a Dark Background</h1>

        {% for photo in photos %}

            <div class="col-3">

                <a href="/photo/{{ photo.id }}">
                    <img class="photo" src="/{{ photo.file }}" alt="Chapter {{ photo.id }}" width="200">
                </a>
                <p>{{ photo.name }}</p>
            </div>

        {% endfor %}
    </div>
{% endblock content %}
