{% extends 'theme.html' %}

{% block content %}

<div class="container m-5">
    <div class="card m-3">
        <div class="card-header card-padding text-light text-center p-3
            {% if object.passed %} bg-success {% else %} bg-danger {% endif %} ">
            <h3>Test Details - {{ object.name }}</h3>
        </div>
        <div class="card-body card-padding">


            <h1 class="text-primary"></h1>

            <h2>Python Source Code for Test</h2>
            {{ object.source }}

            <h2>Test Status</h2>
            {% if object.passed %}
            <h3 class="text-success">PASS</h3>
            {% else %}
            <h3 class="text-danger">FAIL</h3>
            {% endif %}

            <div>
                <a href="/probe/" class="btn btn-success m-5">Test List</a>
                <a href="/test/{{ object.pk }}/" class="btn btn-success m-5">Edit Test</a>
                <a href="/test/{{ object.pk }}/delete" class="btn btn-success m-5">Delete Test</a>
                <a href="/test/{{ object.pk }}/run" class="btn btn-success m-5">Run Test</a>
                <a href="/test/{{ object.pk }}/reset" class="btn btn-success m-5">Clear History</a>
            </div>

            <h2>Expected Output</h2>
            <pre>{{ object.expected }}</pre>
        </div>
    </div>


    <div class="card m-3">
        <div class="card-header card-padding text-light text-center p-3 
        {% if object.passed %} bg-success {% else %} bg-danger {% endif %}">
            <h3>Test History</h3>
        </div>
        <div class="card-body card-padding">
            <table class="table">

                <tr>
                    <th>Date</th>
                    <th>Pass/Fail</th>
                    <th>Difference</th>
                </tr>
                {% for r in results %}
                <tr>
                    <td>
                        <a href="/test/{{ r.pk }}/result">{{ r.date }}</a>
                    </td>
                    <td>{% if r.passed %}PASS{% else %}FAIL{% endif %}</td>
                    <td>
                        <pre>{{ r.difference }}</pre>
                    </td>
                    <td>
                        {% if r.passed %}
                        {% else %}
                        <a href="/test/{{ r.pk }}/approve" class="btn btn-danger">Approve</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
