{% extends 'publish_theme.html' %}


{% block content %}

{% if subscribe %}
<div class="card bg-light text-dark m-1 p-2 m-md-5 p-md-5">
    <h1>Subscribe to Email</h1>
    <p>
        I am writing a biography on Stacie's life,
        entitled, "<b>She Loved Well: The life of Stacie Seaman</b>".  I cannot imagine a more fitting tribute at the end of someone's life.
        
        Help tell her story by relating your interactions with her.
        I would like to hear from you about how Stacie affected your life in some way.      
    </p>
    <p>
        This email list is for those who would like to be a part of authoring her biography.
        I will send out periodic emails with updates on the book's progress, and will ask for your input on various topics.
        Please me a part of this important project.
    <p>
        <a class="btn brown" href="https://shrinking-world.ck.page/bcf3f39efc" target="subscribe">Subscribe Now</a>
    </p>
</div>
{% endif %}

{% if html %}
<div class="card bg-light text-dark m-1 p-2 m-md-5 p-md-5">
    {% autoescape off %}
        {{ html }}
    {% endautoescape %}
</div>
{% endif %}


{% if notes %}
<div class="card bg-light text-dark p-sm-2 m-md-5 p-md-5">
    <h2 class="text-center">Messages for Stacie</h2>
    {% autoescape off %}
        {{ notes }}
    {% endautoescape %}

</div>
{% endif %}



{% endblock %}
