{% extends 'publish_theme.html' %}


{% block content %}

{% if subscribe %}
<div class="card bg-light text-dark p-sm-2 m-md-5 p-md-5">
    <h1>Subscribe to Email Updates</h1>
    <p>
        Join our weekly email list to stay informed and receive the latest news and updates about Stacie's Cancer Detour.
        You can unsubscribe at any time.
    </p>
    <p>
        <a class="btn btn-success" href="https://shrinking-world.ck.page/bcf3f39efc" target="subscribe">Subscribe Now</a>
    </p>

</div>
{% endif %}

{% if html %}
<div class="card bg-light text-dark p-sm-2 m-md-5 p-md-5">
    {% autoescape off %}
        {{ html }}
    {% endautoescape %}
</div>
{% endif %}


{% if notes %}
<div class="card bg-light text-dark p-sm-2 m-md-5 p-md-5">
    <h2 class="text-center">Messages for Stacie</h2>
    {% autoescape off %}
        {{ notes }}
    {% endautoescape %}

</div>
{% endif %}



{% endblock %}
